<div 
    [class]="'primary-input' + ' ' + containerClassName + ' ' + (error !== '' ? 'error' : '')" 
    [ngStyle]="containerStyles"
>
    <label class="primary-input-label" [title]="label" *ngIf="label !== ''">
        {{ label }}
    </label>

    <select 
        [id]="id"
        [class]="className"
        [ngStyle]="styles"
        [title]="title"
        [name]="name"
        [disabled]="disabled"
        [value]="value" 
        (change)="onSelectChange($event)"
    >
        <option *ngFor="let option of selectOptions" [value]="option.key">{{ option.value }}</option>
    </select>

    <p class="primary-input-error" *ngIf="error !== ''">
        {{ error }}
    </p>
</div>
