<div 
    [class]="'primary-input' + ' ' + containerClassName + ' ' + (error !== '' ? 'error' : '')" 
    [ngStyle]="containerStyles"
    [title]="title"
>
    <label class="primary-input-label" [title]="label" *ngIf="label !== ''">
        {{ label }}
    </label>

    <span class="prepend" [ngClass]="{ 'with-label': label !== '' }" *ngIf="prepend !== ''">
        {{ prepend }}
    </span>

    <input 
        [id]="id"
        [class]="className"
        [ngClass]="{ 'with-prepend': prepend !== '', 'with-append': append !== '' }" 
        [name]="name"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [readonly]="readonly"
        [ngStyle]="styles"
        [(ngModel)]="input" 
        (blur)="onInputBlur($event)"
        (change)="onInputChange($event)"
        (keyup)="onInputKeyUp($event)"
    />

    <span class="append" [ngClass]="{ 'with-label': label !== '' }" *ngIf="append !== ''">
        {{ append }}
    </span>

    <p class="primary-input-error" *ngIf="error !== ''">
        {{ error }}
    </p>
</div>
