<div 
    [class]="'primary-input' + ' ' + containerClassName + ' ' + (error !== '' ? 'error' : '')" 
    [ngStyle]="containerStyles"
>
    <label class="primary-input-label" [title]="label" *ngIf="label !== ''">
        {{ label }}
    </label>

    <input 
        [id]="id"
        type="date"
        [class]="className"
        [name]="name"
        [placeholder]="placeholder"
        [autocomplete]="autocomplete"
        [disabled]="disabled"
        [ngStyle]="styles"
        [(ngModel)]="date" 
        (blur)="onInputBlur($event)"
        (change)="onInputChange($event)"
    />

    <p class="primary-input-error" *ngIf="error !== ''">
        {{ error }}
    </p>
</div>
